/* TEMPLATE STYLES */



html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: rgba(0, 0, 0, 0.78);
    padding:10px 0;
}

.top-nav-collapse {
    background: rgba(30,30,30,.6);
    box-shadow: 0 1px 0 rgb(101, 100, 100);
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #0A6A60;
    }
}

.full-bg-img {
    color: #fff;
}

.navbar .navbar-nav .nav-item {
    margin-left: 0;
    padding: 0 11px;
}

.mainimage{ max-height: 420px !important; }

footer.page-footer {
    background-color: #1F2933;
}

.section .section-heading {
    margin: 180px auto 27px;
}

.features-big{
    margin-top: 75px;
}

.feature-box .features-big .feature-title {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.btn-mygray {
    background-color: #879ca7!important;
    height: 45px;
    width: 115px;
}

.inputspan{
    position: absolute;
    left: 6%;
    top: 10%;
}

.carousel-multi-item .carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #505050;
    margin-bottom: -60px;
}

.navbar-brand{
    left:5%;
    position: absolute;
}

.navbar-brand img{
    height: auto;
    width: 90px;
    transition: width .2s;
}

.top-nav-collapse .navbar-brand img{
    height: auto;
    width: 70px;
    transition: width .2s;
}

footer img{
    height: 40px;
    float: right;
}

.icons-sm{
    color: gray !important;
    webkit-transition: .2s color,.2s background-color;
    transition: .2s color,.2s background-color;
}

.icons-sm:hover{
    color: #E18113 !important;
    webkit-transition: .2s color,.2s background-color;
    transition: .2s color,.2s background-color;
}

.section .contact-icons li {
    margin-bottom: 2.2rem;
    margin-top: 2.2rem;
}

footer .col-md-2 li a{
    color: gray;
}

.section .section-heading {
    margin: 115px auto 27px;
}

.divider{

    border-bottom: 1px solid lightgray;
    margin: 0 35%;
    margin-bottom: 10px;
    margin-top: -20px;
}

@media only screen and (max-width: 768px){
    .navbar {
        background-color: rgba(0, 0, 0, 0.78);
    } 
}

#home{
    height: 25px;
}

.nav .nav-item a{
    font-size: 20px;
    font-weight: 500 !important;
}

.top-nav-collapse .nav .nav-item a{
    font-size: 17px;
    font-weight: 500 !important;
}

.adds{
    overflow-y: scroll;
    height: 420px;
}

.feature-box .features-big .fa {
    font-size: 8rem;
}

.ico img{
    box-shadow: none !important;
}

@media (max-width: 544px){

.navbar .navbar-toggleable-xs ul, .navbar .navbar-toggleable-xs ul li {
    float: none;
    display: block;
    padding-top: 45px;
}

.navbar-brand{
    left:5%;
    position: absolute;
    top: 4%;
}

.top-nav-collapse .navbar-brand{
   top: 12%; 
}

.inputspan {
    position: absolute !important;
    left: 6% !important;
    top: 0% !important;
}

.brwbtn {
    margin: 0 !important;
    height: 40px !important;
    width: 40px !important;
}

}

.smooth-scroll a span, footer span{
    font-size: 25px;
    transition: font-size .2s;
    background: -webkit-linear-gradient(left, #00AFEF , #59C9EC);
    background: -o-linear-gradient(right, #00AFEF, #59C9EC);
    background: -moz-linear-gradient(right, #00AFEF, #59C9EC);
    background: linear-gradient(to right, #00AFEF , #59C9EC); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.top-nav-collapse .smooth-scroll a span, footer span{
    font-size: 18px;
    transition: font-size .2s;
    background: -webkit-linear-gradient(left, #00AFEF , #59C9EC);
    background: -o-linear-gradient(right, #00AFEF, #59C9EC);
    background: -moz-linear-gradient(right, #00AFEF, #59C9EC);
    background: linear-gradient(to right, #00AFEF , #59C9EC); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

footer span{
    font-family: 'Lobster', cursive;
    position: absolute;
    right: 95px;
    top: 8px;
}

.progress{
    position: relative;
    width: 100%;
    display: none;
}

.single-news p{
    margin-bottom: 0;
}

.magazine-section .single-news {
    margin-bottom: 0.5rem;
}

.magazine-section .view {
    margin-bottom: 0.2rem;
}

.view {
    box-shadow: none !important;
}


.carousel-item .card img{
    cursor: pointer;
}

.brwbtn{
    margin: 0;
    height: 50px;
    width: 90px;
    margin-bottom: 0 !important;
}

.form-inline .form-group{
    margin:0;
}

.imagepreview{
    background: lightgray !important;
    height: 420px !important;
    width: 730px;
}



@media (max-width: 544px){

/* Bootstrap Modify XS Class Start */

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
  font-size: 12px;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.btn-group-xs>.btn,.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group-xs>.btn .badge,.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}

.visible-xs {
  display: none!important;
}

.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block {
  display: none!important;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

}

@media (max-width:767px) {
  .visible-xs {
    display: block!important;
  }

  table.visible-xs {
    display: table!important;
  }

  tr.visible-xs {
    display: table-row!important;
  }

  td.visible-xs,th.visible-xs {
    display: table-cell!important;
  }
}

@media (max-width:767px) {
  .visible-xs-block {
    display: block!important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline {
    display: inline!important;
  }
}

@media (max-width:767px) {
  .visible-xs-inline-block {
    display: inline-block!important;
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

/* Bootstrap Modify XS Class END */
 